/* ===== Global Reset ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Amazon Ember", "Segoe UI", "Open Sans", sans-serif;
}

:root {
   --text-color: #FFFFFF;
  --text-color-comp: #000000;
  --clr-primary-a0:#261FB3;
  --clr-primary-a1:#506ad3;
  --clr-primary-a2:#5c6dc7;
  --clr-primary-a3:#6c73af;
  --clr-surface-a0:#121212;
  --clr-surface-a1:#282828;
  --clr-surface-a2:#3f3f3f;
  --clr-surface-a3:#717171;
  --clr-surface-a4:#000000;
}

.light-mode {
  --text-color: #1A1A1A ;
  --text-color-comp: #FFFFFF;
  --clr-primary-a0:#261FB3;
  --clr-primary-a1:#506ad3;
  --clr-primary-a2:#5c6dc7;
  --clr-primary-a3:#6c73af;
  --clr-surface-a0:#ffffff;
  --clr-surface-a1:#f0f0f0;
  --clr-surface-a2:#e1e1e1;
  --clr-surface-a3:#c5c5c5;
  --clr-surface-a4:#eaf8ff;

} 
.theme-toggle {
  background: var(--clr-primary-a0);
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
  z-index: 9999;
}

/* ===== Page Fade In ===== */
body {
  background-color: var(--clr-surface-a4);
  color: var(--text-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: all 0.3s ease;
  animation: fadeInBody 1s ease-in-out;
}

@keyframes fadeInBody {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}



/* ===== Navigation Menu ===== */
#menu {
  background-color: var(--clr-surface-a0);
  color: var(--clr-primary-a2);
  display: flex;
  width: 100%;
  position:fixed;
  z-index: 1000;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  box-shadow:  0px 4px 10px 0px var(--clr-surface-a3);
  animation: slideDown 0.8s ease-in-out;
  transition: color 0.2s ease;
}

@keyframes slideDown {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

#logo_menu {
  font-size: 20px;
  font-weight: 800;
}

.header {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.header a:hover {
  color: var(--clr-primary-a0);
  transform: scale(1.1);
}


/* ===== Buttons ===== */
button {
  background-color: var(--clr-primary-a1);
  border: none;
  color: var(--text-color-comp);
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 2px var(--clr-primary-a0);
  transition: all 0.3s ease;

}

button:hover {
  box-shadow: 0 0 15px var(--clr-primary-a0);
  animation: pulse 0.4s ease-in-out;
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}


/* ===== Home Section ===== */
.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-bottom: 5%;
  padding: 70px 30px;
}


/* ===== Image Section ===== */
.image-wrapper {
  width: 400px;
  height: 400px;
  position: relative;
}

.rotating-border {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid var(--clr-primary-a3);
  border-top: 12px solid var(--clr-primary-a0);
  box-shadow: 0 0 40px 5px var(--clr-primary-a3);
  animation: spin 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url("profile.png") center/cover no-repeat;
  transition: all 0.4s ease;
}

#image:hover {
  width: 125%;
  height: 125%;
 border-radius:43%;
 top:-27%;
 left:-3%;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* ===== Text Section ===== */
#textarea {
  margin-top: 2%;
  max-width: 600px;
  flex: 1;
}

/* ===== night and dark mode for text area ===== */
#textarea-glass {
  background:var(--clr-surface-a1);
  border: 1px solid var(--clr-surface-a2);
  backdrop-filter: blur(15px);
  border-radius: 25px;
  padding: 40px;
  box-shadow: 0 0 30px var(--clr-primary-a3);
  animation: fadeInUp 1s ease-out;
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

#textarea-glass h3 {
  font-size: 20px;
  color: var(--sec-color);
  margin-bottom: 10px;
}

#textarea-glass h1 {
  font-size: 34px;
  color: var(--clr-primary-a2);
  font-weight: 800;
  margin-bottom: 20px;
}

#textarea-glass p {
  
  font-size: 16px;
  line-height: 1.8;
}
.highlight {
  color: var(--clr-primary-a3);
  font-weight: 700;
}  
@media screen and (max-width: 768px) {
  .image-wrapper {
  margin-top: 22%;
  width: 300px;
  height: 300px;
}

  #menu {
  padding: 15px 20px;
  font-size: 12px;
}


#logo_menu {
  font-size: 15px;
}

.header {
  gap: 15px;
}

  .hero-section {
    flex-direction: column;
    padding: 60px 20px;
    gap:50px;
  }

  .image-wrapper {
    width: 250px;
    height: 250px;
  }

  #textarea {
    max-width: 90%;
  }
}

/* ===== Footer ===== */
#footer {
  width: 100%;
  background-color: var(--clr-surface-a0);
  color: var(--text-color);
  padding: 15px 0;
  text-align: center;
  border-top: 2px solid var(--clr-primary-a3);
  font-family: "Amazon Ember", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 -4px 20px rgba(64, 11, 255, 0.2);

}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--clr-primary-a1);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: var(--clr-primary-a0);
  text-shadow: 0 0 1px var(--clr-primary-a3);
  transform: scale(1.2);
}